

body {
    background-image: url(assets/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center ;
}

.no-select {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.clock-container {
    backdrop-filter: blur(3px);
    width: 100vw;
    margin-bottom: 30px;
}

.clock {
    color: white;
    font-size: 6rem;
    font-weight: bold;
    font-family: Verdana;
    text-align: center;
    text-shadow: 3px 3px 5px hsla(0, 0%, 0%, 0.5);
}